@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*#root {
  height: 100vh;
  overflow: auto;
}*/

* {
    box-sizing: border-box;
}


.titleFont {
    font-family: 'Schibsted Grotesk', sans-serif;
}

.animated {
  transition: all 0.2s ease-in-out;
}

.page-title {
  font-size: 2rem;
  font-weight: 550;
  text-transform: capitalize;
  font-stretch: normal;
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
}