@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --quality: #4276b9;
  --cordiality: #f1cb3e;
  --convenience: #37b942;
  --buddy-coins: rgb(236, 199, 30);
  --experience: #8b5cf6; /* Tailwind color violet.500 */
}

/*#root {
  height: 100vh;
  overflow: auto;
}*/

* {
  box-sizing: border-box;
  font-family: 'Schibsted Grotesk', sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.animated {
  transition: all 0.2s ease-in-out;
}

.page-title {
  font-size: 2rem;
  font-weight: 550;
  text-transform: capitalize;
  font-stretch: normal;
  font-optical-sizing: auto;
}